@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    color: #333;
}

/* 네비게이션 */
.nav-link {
    transition: .4s ease-in;
}

.nav-link.active {
    background-color: #FD889C !important;
    color: #333 !important;
}

main {
    margin: 100px auto;
}

.title {
    height: 150px;
    width: 100%;
    line-height: 150px;
    letter-spacing: 10px;
    text-align: center;
    background-image: radial-gradient(circle, rgba(200,207,244,1) 0%, rgba(213,235,225,1) 100%);
}

.main-logo {
    color: #2DFF8B;
    animation: spin 3s infinite;
}

@keyframes spin {
    0% {
      transform: translateX(0px) rotate(0);  
    }
    10% {
      transform: translateX(0px) rotate(0);  
    }
    20% {
        transform: translateX(5px) rotate(15deg);  
    }
    20% {
        transform: translateX(5px) rotate(15deg);  
    }
    40% {
        transform: translateX(0px) rotate(0deg);  
    }
    60% {
        transform: translateX(-5px) rotate(-15deg);  
    }
}

footer {
    text-align: center;
    border-top: dotted #333;
    width: 85%;
    margin: 0 auto;
}
