@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comfortaa:wght@700&family=Do+Hyeon&family=Gowun+Dodum&family=Permanent+Marker&family=Noto+Sans+KR:wght@100;300;400;500;900&display=swap');

:root {
    --ft-color-black: #000;
    --bs-color-blue: #0d6efd;
    --bs-color-indigo: #6610f2;
    --bs-color-purple: #6f42c1;
    --bs-color-pink: #d63384;
    --bs-color-red: #dc3545;
    --bs-color-orange: #fd7e14;
    --bs-color-yellow: #ffc107;
    --bs-color-green: #198754;
    --bs-color-teal: #20c997;
    --bs-color-cyan: #0dcaf0;
    --bs-color-white: #fff;
    --bs-color-gray: #6c757d;
    --bs-color-gray-dark: #343a40;
    --bs-color-primary: #0d6efd;
    --bs-color-secondary: #6c757d;
    --bs-color-success: #198754;
    --bs-color-info: #0dcaf0;
    --bs-color-warning: #ffc107;
    --bs-color-danger: #dc3545;
    --bs-color-light: #f8f9fa;
    --bs-color--dark: #212529;
    --bs-color--green: #064420;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--ft-color-black);
}

main {
    font-family: 'Noto Sans KR', sans-serif; 
}

/* 머리말 스타일 */
header {
    font-family: 'Gowun Dodum', 'poppins', sans-serif, serif;
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* 메뉴 스타일 */
.nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    background-color: #F29191;
    transition: .4s ease;
}

.nav.down { /* 네비게이션 클릭 효과 */
    background-color: #94D0CC;
}

.nav.down .nav-title li .line {
    background-color: var(--bs-color-white);
}

.nav a {
    text-decoration: none;
}

.nav .nav-sub {
    display: flex;
    list-style: none;
}

.nav .nav-sub li {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 15px;
    color: var(--ft-color-black);
}

.nav .nav-sub a {
    color: var(--ft-color-black);
}

.nav.down .nav-sub li, .nav.down .nav-sub a {
    color: #fff;
}

.nav-title {
    margin-left: 100px;
    padding-bottom: 10px;
}

.nav-title li {
    font-size: 2.2rem;
    width: 200px !important;
    color: var(--ft-color-black);
}

.nav-title li .nav-title-mr {
    font-size: 4.2rem;
    margin-right: 20px;
}

.nav-title li .nav-title-alpaca {
    position: relative;
    top: 20%;
}

.nav-title li .line {
    height: 4px;
    width: 250px;
    margin: 0;
    background-color: var(--ft-color-black);
    position: absolute;
    top: 85%;
    left: 90px;
}

.nav-title:hover li .line {
    background-color: var(--bs-color-secondary);
}

.nav .nav-menu {
    margin-right: 50px;
    margin-top: 10px !important;
    font-size: 1.1rem;
    font-weight: bold;
}

.nav .nav-menu::before {
    content: "";
    height: 500px;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: red;
    opacity: .5;
    transform: translateX(100%);
    transition: .4s ease;
    border-bottom-left-radius: 50%;
    z-index: 5;
}

.nav .nav-menu:hover::before {
    content: "";
    height: 450px;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: red;
    opacity: .5;
    transform: translateX(0%);
}

.nav .nav-menu li {
    position: relative;
    transition: .4s ease;
}

.nav .nav-menu li::before {  
    font-family: "Font Awesome 5 Free"; 
    content: "\f1b0";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: -25%;
    transform: translate(-50%, -50%);
    position: absolute;
    visibility: hidden;
    transition: .1s ease-in;
}

.nav .nav-menu li.active::before {   
    visibility: visible;
}

.nav .nav-menu li:hover, :focus {
    text-decoration: underline; 
}

/* 네비게이션 하위 메뉴 */
.nav-sub-sub {
    position: absolute;
    top: 50px;
    visibility: hidden;
    z-index: 6;
}

.nav-sub-sub li {
    color: #fff !important;
    position: absolute;
    top: 0;
    left: 50px;
    transform: translateX(-50px);
    font-weight: initial;
    font-size: .9rem;
}

.nav-sub-sub::before {
    content: "";
    height: 90%;
    width: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.nav-sub-sub a:nth-child(odd) li::after {
    font-family: "Font Awesome 5 Free";
    content: '\f06c';
    height: 50px;
    width: 50px;
    font-size: 2rem;
    opacity: .8;
    color: green;
    right: -30%;
    position: absolute;
    transform: rotateY(180deg);
    font-weight: bold;
}

.nav-sub-sub a:nth-child(even) li::after {
    font-family: "Font Awesome 5 Free";
    content: '\f06c';
    height: 50px;
    width: 50px;
    font-size: 2rem;
    opacity: .8;
    color: green;
    left: -30%;
    position: absolute;
    font-weight: bold;
}

.nav .nav-menu li:hover > .nav-sub-sub {
    visibility: visible;
}

/* my page link 스타일 */
.mypage-link {
	height: 200px;
	text-align:center !important;
	background-color: red;
}

/* 본문 스타일  */
main {
    min-height: 1000px;
}

.title {
    height: 1000px;
    background-image: url('../image/sky.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title-text {
    position: absolute;
    font-size: 2.2rem;
    right: 120px;
    bottom: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px 20px 5px 40px;
}

/* 구름효과 */
.cloud-box .cloud {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 25%;
    left: 300px;
    z-index: 5;
    transform: translateX(0);
    animation: cloud 80s ease infinite;
}

.cloud-box:nth-child(2) .cloud {
    height: 200px;
    width: 200px;
    top: 30%;
    left: 200px;
    display: block;
}

.cloud-box:nth-child(3) .cloud {
    height: 350px;
    width: 350px;
    top: 30%;
    left: 350px;
}

.cloud-box:nth-child(4) .cloud {
    height: 100px;
    width: 100px;
    top: 28%;
    left: 440px;
}

@keyframes cloud {
    50% {
        transform: translateX(-25%);
        height: 200px;
        width: 200px;
    }
    100% {
        transform: translateX(0);
    }
}

/* 태양효과 */
.sun {
    position: fixed;
    top: 30px;
    transition: 1S linear;
    animation: fadeIn 5s linear forwards;
    z-index: 1;
}

.sun img {
    animation: glow 10s linear infinite;
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glow {
    50% {
        opacity: .6;
    }
    
    100% {
        opacity: 1;
    }
}

/* 메인 행 스타일 */
.row {
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
}

.row.intro {
    justify-content: center;
}

.row .row {
    width: 70%;
}

.row-title {
    margin: 30px 0 20px;
    padding-left: 150px;
    font-size: 2rem;
}

.row .item {
    height: 200px;
    width: 200px;
    margin: 0 10px;
}

.col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row .col .row {
    min-height: 0px;
}

.row.second .row {
    justify-content: space-between;
    width: 70%;
    margin: 10px 0;
}

.row.second .row p {
    padding: 10px;
}

.row.third .row {
    width: auto;
    margin: 10px auto;
}

/* 꼬리 스타일 */
footer {
    padding: 20px;
    height: 300px;
    background-color: #94D0CC;
    color: #fff;
    text-align: center;
}

footer p {
    width: 70%;
    margin: 0 auto;

}

.developers {
    margin: 20px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.developers a {
    text-decoration: none;
}

.developers .developers-git {
    margin-bottom: 10px;
}

.developers .developers-id {
    width: 100px;
    font-size: .9rem;
}

.developers {
    margin: 20px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.developers a {
    text-decoration: none;
}

.developers .developers-git {
    margin-bottom: 10px;
}

.developers .developers-id {
    width: 100px;
    font-size: .9rem;
}

.hayoon {
    color: #0A81AB;
}

.hayoon:nth-of-type(2) {
    color: #21094E !important;
}

.hayoon:nth-of-type(3) {
    color: #511281;
}

.hayoon:nth-of-type(4) {
    color: #8E9775;
}

.hayoon:nth-of-type(5) {
    color: #325288;
    /* color: #D5ECC2; */
}

/* **--- 화면에 공통으로 사용되는 스타일들 --- */

/* 게시판 스타일 */
.board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.board-table {
    height: 500px;
    width: 95%;
    margin-top: 50px;
    border-collapse: collapse;
    text-align: center;
    display: block;
}

.board .board-table tr {
    margin: 50px 0;
    height: 50px;
}

.board .board-table th {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.board .board-table th, td {
    padding: 10px;
}

.board .board-table a {
    text-decoration: none;
}

/* 게시판 하부 페이지 컨트롤러 */
.board-control {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board-control ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 30px;
}

.board-control ul li {
    height: 20px !important;
    line-height: 20px !important;
    height: 20px;
    min-width: 20px;
    margin: 0 5px;
    text-align: center;
}

.board-control ul li:hover, .board-control ul li:focus {
    background-color: #B5EAEA;
    border-radius: 50%;
}

.board-control ul a {
    text-decoration: none;
}

.control-btn {
    width: 50px;
    background-color: transparent;
    box-shadow: none !important;
}

.pre:hover, .pre:focus {
    background-color: transparent !important;
}

.next:hover, .next:focus {
    background-color: transparent !important;
}

/* 게시판 상부 글 편집 컨트롤러 */
.board-edit {
    width: 100%;
    display: flex;
    padding: 5px 20px;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
}

.board-edit .edit-btn-box .edit-btn {
    height: 30px;
    width: 200px;
    font-size: 1.2rem;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #CDF0EA;
}

/* 페이지타이틀 */
.page-title {
    width: 100%;
    text-align: center;
    margin: 50px 0 20px;
}

.page-title-left {
    width: 100%;
    text-align: left;
    margin: 50px 0 20px 20px;
}

/* 구분선 */
.line {
    height: 1px;
    width: 100%;
    margin: 10px auto;
    background-color: var(--ft-color-black);
    border: none;
}

/* 버튼 스타일 */
.btn {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .3), 1px 1px 0 0 rgba(0, 0, 0, .3);
}

.btn:active {
    transform: scale(.98);
}

.btn:focus {
    text-decoration: none;
}


/* 입력란 스타일 */
input {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #B2B1B9;
}

/* 타이틀 더미 */
.dummy {
    margin-top: 180px;
}

input[type="text"]:focus {
    text-decoration: none;
    outline: none;
}

/* 페이지 로딩 */
body {
    animation: fadeIn 1s linear;
}



